
.box{
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    width: auto;
    height: 10px;
    position: relative;
    border-top : 1px solid gray;
    padding-top : 50px;

    font-size: 30px;
    color: #000000;
}

.email{
    text-align: center;
    margin: auto;
    width: auto;
    /* height: 10px; */
    position: relative;

    font-size: 20px;
    color: #000000;
}

#wrap{
    min-width: 1280px;
    overflow: hidden;
}