.tie{
    background-color: #243B5B;
    padding-bottom: 50px;

}
.box{
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    width: auto;
    height: 10px;
    position: relative;
    border-top : 1px solid gray;
    padding-top : 50px;

    font-size: 30px;
    color: #DFC9A4;
}

.email{
    text-align: center;
    margin: auto;
    width: auto;
    /* height: 10px; */
    position: relative;

    font-size: 20px;
    color: #DFC9A4;
}

.phonenumber{
    text-align: center;
    position: relative;
    margin: auto;
    width: auto;
    margin-top: 20px;

    font-size: 20px;
    color: #DFC9A4;
}