/* 노건들 배경!! */

.section3 {
    position : relative;
    margin-top : -80px;
    width : auto;
}

.firstValue {
    height: 400px;
    left: 0px;
    background: #F6F0E6;
    /* border-top : 5px solid #294572; */
}

.secondValue {
    height: 950px;
    left: 0px;
    background: #EDE0CB;
    position: relative;
    top : -338px;
    z-index: 1;    }

.thirdValue {
    height: 400px;
    left: 0px;
    background:#DCC49C;
    /* border-bottom : 5px solid #294572; */
    margin-top : -680px;
    position: relative;
    z-index: 4;
}

.trione {
    width : auto; 
    height : 0px;
    border-top : 338px solid #F6F0E6;
    border-bottom : 50px solid none;
    border-right : 1915px solid transparent;
    border-left : 0px solid transparent;
    position : relative;
    z-index: 3;
}

.tritwo {
    width : auto; 
    height : 0px;
    border-top : 50px solid none;
    border-bottom : 338px solid #DCC49C;
    border-right : 1915px solid transparent;
    border-left : 0px solid transparent;
    position : relative;
    top : -675px;
    z-index: 1;
}


/* 텍스트!! */


.section3 {
    line-height: 35px;
    font-size: 18px;
    color : #294572;
}

.firstValueText {
    padding-top : 170px;
    margin-left : 60px;
}

.secondValueText {
    padding-top : 380px;
    margin-left : -70px;
}

.thirdValueText {
    margin-left : 60px;
}

#firstValueMainText, #secondValueMainText, #thirdValueMainText  {
    margin-bottom : 20px;
    font-size : 25px;
    font-weight: bold;
    color : #294572;
}


.secondValueText {
    text-align: right;
    justify-content: right;
    padding-left : 489px;
} 


.firstValueText, .secondValueText, .thirdValueText {
    display: inline-block;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    transition: 0.5s;
}

.firstValueText:hover, .thirdValueText:hover{
    -webkit-transform: scale(1.1,1.1);
    -moz-transform: scale(1.1,1.1);
    -o-transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    transform: scale(1.1,1.1);
}

.secondValueText:hover {
    -webkit-transform: scale(1.07,1.07);
    -moz-transform: scale(1.07,1.07);
    -o-transform: scale(1.07,1.07);
    -ms-transform: scale(1.07,1.07);
    transform: scale(1.07,1.07);
}