.section1 {
  width: 200%;
  height: 800px;
  text-align: center;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: row;
  background-size: cover;
}

.content1, .content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.content1-img {
  height: 100%;
  width: 100%;
  background: url(./image/bookstoreBlur.jpeg);
  background-size: cover;
  z-index: 2;
}

.content2-img {
  height: 100%;
  width: 100%;
  background: url(./image/bookstoreBlur2.jpeg);
  background-size: cover;
  z-index: 2;
}

.blackBox1 {
  content: "";
  opacity: 0.6;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
}

.section1 p {
  color: #ffffff; 
}

/* text */

#vision {
  padding-top: 160px;
  padding-bottom: 50px;
  font-size: 40px;
  font-weight: bold;
}

#vision-content {
  font-size: 20px;
  line-height: 50px;
}

#whatIsValuableBook {
  padding-top: 160px;
  padding-bottom: 50px;
  font-size: 35px;
  font-weight: bold;
}

#whatIsValuableBook-content {
  font-size: 20px;
  line-height: 50px;
}

.content1-text, .content2-text {
  position: absolute;
  z-index: 4;
}

/* button */

.content-btns button {
  position: absolute;
  width: 50px;
  height: 60px;
  top: 50%;
  margin-top: -25px;
  line-height: 60px;
  text-align: center;
  cursor: pointer; 
  background: rgba(255, 255, 255, 0.2);
  z-index: 100;
  
  -webkit-user-select: none;  
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -ms-user-select: none;
  
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.content-btns button img {
  margin-top: 5px;
}

.content-btns button:hover{
  background:rgba(255, 255, 255, 0.3); 
  color: black;
}

.content-btns button{
  color: gray;
  font-size: 35px;
}

.content-btn-right{
  border-radius:7px 7px 7px 7px;
  right: calc(50% + 30px);
}
.content-btn-left{
  border-radius:0px 7px 7px 7px;
  left: calc(0% + 30px);
}
