.section2 {
    width: auto;
    height: 1050px;
}

.roadmap{
    margin-top: 15px;
    font-size: 40px;
    color: #000000;
}

.circle1, .circle2, .circle3, .circle4, .circle5, .circle6, .circle7 {
  border: none;
  outline: 0;
  font-family: 'MaruBuri-Regular';
  font-weight: normal;
  font-style: normal;
  color: #243B5B;
  position: relative;
  border-radius: 100px;
  width: 140px;
  height: 140px;
  background: white;
  border: 5px solid #243B5B;
  font-size: 35px;
  margin-top: 240px;
  margin-left: 10%;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.circle1:hover {
  background-color: #243B5B;
  color: white;
  box-shadow: 0 14px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.circle2:hover {
  background-color: #243B5B;
  color: white;
  box-shadow: 0 14px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.circle3:hover {
  background-color: #243B5B;
  color: white;
  box-shadow: 0 14px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.circle4:hover {
  background-color: #243B5B;
  color: white;
  box-shadow: 0 14px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.circle5:hover {
  background-color: #243B5B;
  color: white;
  box-shadow: 0 14px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.circle6:hover {
  background-color: #243B5B;
  color: white;
  box-shadow: 0 14px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.circle7:hover {
    background-color: #243B5B;
    color: white;
    box-shadow: 0 14px 14px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.circle1 {
    margin-left: 0%;
}

/* 재사용 */
.circle5 {
    position: absolute;
    margin-top: 38.5%;
    margin-left: 10%;
}

/* 소각 */
.circle6 {
    position: absolute;
    margin-left: 10%;
    margin-top: 19%;
}

/* 재활용 */
.circle7 {
    position: absolute;
    margin-left: -11%;
    margin-top: 38.5%;
}

.beigeline {
    position: absolute;
    top : 82%;
    width: 1200px;
    height: 9px;
    background-color: #DFC9A4;
}

.diagonal1 {
    position: absolute;
    width: 11px;
    height: 275px;
    margin-left: 82%;
    top: 330px;
    background-color: #DFC9A4;
    transform: rotate(-45deg);
  }

.diagonal2 {
    position: absolute;
    width: 11px;
    height: 180px;
    margin-left: 71.5%;
    top: 400px;
    background-color: #DFC9A4;
    transform: rotate(0deg);
  }

.diagonal3 {
    position: absolute;
    width: 6px;
    height: 300px;
    margin-left: 100%;
    top: 430px;
    background-color: #DFC9A4;
    transform: rotate(90deg);
  }

.diagonal4 {
    position: absolute;
    width: 6px;
    height: 800px;
    margin-left: 40%;
    top: 80px;
    background-color: #DFC9A4;
    transform: rotate(-75deg);
  }

.SM {
    display: none;
    position: absolute;
    color: black;
    font-size: 18px;
    width: 150px;
    text-align: justify;
    top: 440px;
}

#sssmc {
    margin-left: 0%;
  }

#utsmc {
    top: 50px;
    margin-left: 21.7%;
  }

#pmsmc {
    margin-left: 43.95%;
  }
  
#sysmc {
    top: 155px;
    margin-left: 65.7%;
  }

#sgsmc {
    top: 50px;
    margin-left: 86.9%;
  }

#jsysmc {
    top: 680px;
    margin-left: 86.9%;
  }

#jhysmc {
    top: 680px;
    margin-left: 66.3%;
  }