.section3 {
    position : relative;
    top : 1000px;
    width : auto;
    height : 1890px;
}

.value {
    position: relative;
    height: 1890px;
}

.firstValue {
    height: 400px;
    left: 0px;
    background: #D1DBEB;
}

.secondValue {
    height: 950px;
    left: 0px;
    background: #B3C9E7;
    }

.thirdValue {
    height: 400px;
    left: 0px;
    background: #6C92C7;
    position: relative;
    top : -540px;
}

.firstValueLine {
    transform : rotate(350deg);
    position : relative;
    top : 170px;
}

.secondValueLine {
    transform : rotate(10deg);
    position : relative;
    top : -170px;
}

.trione {
    width : 0px; 
    height : 0px;
    border-top : 338px solid #D1DBEB;
    border-bottom : 50px solid none;
    border-right : 1915px solid transparent;
    border-left : 0px solid transparent;
    position : relative;
    top : 199px;
}

.tritwo {
    width : 0px; 
    height : 0px;
    border-top : 50px solid none;
    border-bottom : 338px solid #6C92C7;
    border-right : 1915px solid transparent;
    border-left : 0px solid transparent;
    position : absolute;
    top : 1015px;
}



.firstValueMainText {
    position : relative;
    top : 170px;
    font-size : 25px;
    font-weight: bold;
    left : 150px;
}

.firstValueSubText {
    position : relative;
    top : 200px;
    font-size : 19px;
    left : 150px;
    line-height: 35px;
}

.secondValueMainText {
    position : relative;
    top : 400px;
    right : -1000px;
    font-size : 25px;
    font-weight: bold;
}

.secondValueSubText {
    position : relative;
    top : 430px;
    right : 190px;
    text-align: right;
    font-size : 19px;
    line-height: 35px;
    
}

.thirdValueMainText {
    position : relative;
    top : -30px;
    font-size : 25px;
    font-weight: bold;
    left : 150px;
}

.thirdValueSubText {
    position : relative;
    font-size : 19px;
    left : 150px;
    line-height: 35px;
}


