.section1 {
  width: auto;
  height: 800px;
  text-align: center;
  position: relative;
  background: url(./image/bookstoreBlur.jpeg);
  background-size: cover;
}

.section1::before{
  content: "";
  opacity: 0.6;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

.section1 p {
  position: relative;
  color: #ffffff; 
}

#vision {
  padding-top: 160px;
  padding-bottom: 50px;
  font-size: 40px;
  font-weight: bold;

}

#vision-content {
  font-size: 20px;
  line-height: 50px;
}

#whatIsValuableBook {
  padding-top: 160px;
  padding-bottom: 50px;
  font-size: 35px;
  font-weight: bold;
}

#whatIsValuableBook-content {
  font-size: 20px;
  line-height: 50px;
}