.section2 {
    width: 1440px;
    height: 1022px;
}

.roadmap{
position: relative;
left: 23px;
top: 1041px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 35px;

color: #000000;
}

.circle {
    display:flex;
}
.circle1 {
    position: absolute;
    width: 150px;
    height: 150px;
    left: 231px;
    top: 200px;
    background: #3E6C9C;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display:flex;
    color: white;
}

.circle2{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 583px;
    top: 200px;
    background: #3E6C9C;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display:flex;
    color: white;
}

.circle3{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 923px;
    top: 200px;
    background: #3E6C9C;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display:flex;
    color: white;
}

.circle4{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 1263px;
    top: 200px;
    background: #3E6C9C;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display:flex;
    color: white;
}

.circle5{
    position: absolute;
    width: 150px;
    height: 150px;
    left: 1603px;
    top: 200px;
    background: #3E6C9C;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
    display:flex;
    color: white;
}

.beigeline {
    position: absolute;
    width: 1500px;
    height: 100px;
    left: 252px;
    top: 170px;
    border-bottom: 5px solid #E2B384;
}