.section2 {
    width: auto;
    height: 1022px;
}

.roadmap{
position: relative;
left: 23px;
top: 50px;
font-size: 40px;
line-height: 35px;

color: #000000;
}

.circle {
    display:flex;
}

.circle1 {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 140px;
    top: 400px;
    background: #3E6C9C;
    align-items: center;
    display:flex;
    color: white;
    font-size: 35px;
    justify-content: center;
    border-radius: 100px;

}

.circle2{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 492px;
    top: 400px;
    background: #3E6C9C;
    align-items: center;
    display:flex;
    color: white;
    justify-content: center;
    font-size: 35px;
    border-radius: 100px;

}

.circle3{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 844px;
    top: 400px;
    background: #3E6C9C;
    align-items: center;
    display:flex;
    color: white;
    justify-content: center;
    font-size: 35px;
    border-radius: 100px;

}

.circle4{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1196px;
    top: 400px;
    background: #3E6C9C;
    align-items: center;
    display:flex;
    color: white;
    justify-content: center;
    font-size: 35px;
    border-radius: 100px;

}

.circle5{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1548px;
    top: 400px;
    background: #3E6C9C;
    align-items: center;
    display:flex;
    color: white;
    justify-content: center;
    font-size: 35px;
    border-radius: 100px;

}

.circle6{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1548px;
    top: 52px;
    background: #3E6C9C;
    align-items: center;
    display:flex;
    color: white;
    justify-content: center;
    font-size: 35px;
    border-radius: 100px;

}

.circle7{
    position: absolute;
    width: 170px;
    height: 170px;
    left: 1548px;
    top: 752px;
    background: #3E6C9C;
    align-items: center;
    display:flex;
    color: white;
    justify-content: center;
    font-size: 35px;
    border-radius: 100px;

}

.beigeline {
    position: absolute;
    width: 1400px;
    height: 100px;
    height: 7px;
    left: 209px;
    top: 370px;
    border-bottom: 5px solid #E2B384;
    top: 470px;
    background-color: #E2B384;
}

.diagonal1 {
    position: absolute;
    width: 11px;
    height: 500px;
    left: 1430px;
    top: 400px;
    background-color: #E2B384;
    transform: rotate(-45deg);
  }

  .diagonal2 {
    position: absolute;
    width: 11px;
    height: 500px;
    left: 1430px;
    top: 10px;
    background-color: #E2B384;
    transform: rotate(45deg);
  }

  .생산설명 {
      position: absolute;
      color: black;
      top: 610px;
      left: 140px;
      font-size: 25px;
      width: 200px;
  }