/* 구성원소개 섹션 */
/* 2020.12.17.오전 9시 */

.section4 {
    display: flex;
    position: relative;
    top:-140px;
    justify-content: center;
    /* background-color: aqua; */
    height: 1022px;
    width: auto;
    opacity: 0.5;


}
* {

    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.gallery {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(400px, 1fr));
    min-height: 100vh;
    grid-gap: 2rem;
}

.img-container{

    overflow: hidden;

}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;

}

.img-container img:hover{
    transform: scale(1.2);

}



.model {

    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
    /* display: none; */
}


.model p {
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}
.model.open{
    opacity: 1;
    pointer-events: all;
}

.full_img {

    position: absolute;
    height: 90%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease;
}

.full_img.open  {
    transform: translate(-50%, -50%) scale(1);
}



/*{
    
    position: absolute;
  margin: 120px;  
  font-size: 45px;

}*/
/*
.sec4testbox{
    position : relative;
    margin : 311px 0;
    border: 2px solid black;
    height: 500px;
    width: 350px;
    background-color: red;
}

.sec4testbox2{
    position : relative;
    margin : 311px 0;
    border: 2px solid black;
    height: 500px;
    width: 350px;
    background-color: black;
}

.sec4testbox3{
    position : relative;
    margin : 311px 0;
    border: 2px solid black;
    height: 500px;
    width: 350px;
    background-color: yellow;

}

.sec4testbox4{
    position : relative;
    margin : 311px 0;
    border: 2px solid black;
    height: 500px;
    width: 350px;
    background-color: blue;

}

.sec4testbox5{
    position : relative;
    margin : 311px 0;
    border: 2px solid black;
    height: 500px;
    width: 350px;
    background-color: green;

}