/* 노건들 배경!! */

.section3 {
    position : relative;
    margin-top : 100px;
    width : auto;
}

.firstValue {
    height: 400px;
    left: 0px;
    background: #D1DBEB;
}

.secondValue {
    height: 950px;
    left: 0px;
    background: #B3C9E7;
    position: relative;
    top : -338px;
    z-index: 1;
    }

.thirdValue {
    height: 400px;
    left: 0px;
    background: #779dd1;
    position: relative;
    top : -418px;
    z-index: 3;
}

.trione {
    /* width : auto;  */
    height : 0px;
    border-top : 338px solid #D1DBEB;
    border-bottom : 50px solid none;
    border-right : 1915px solid transparent;
    border-left : 0px solid transparent;
    position : relative;
    z-index: 2;
}

.tritwo {
    /* width : auto;  */
    height : 0px;
    border-top : 50px solid none;
    border-bottom : 338px solid #779dd1;
    border-right : 1915px solid transparent;
    border-left : 0px solid transparent;
    position : absolute;
    top : 1015px;
    z-index: 2;
}

.inner-container {
    width : 1400px;
    margin : 0 auto;
    position : relative;
}


/* 텍스트!! */

.section3 {
    line-height: 35px;
    font-size: 18px;
}

.firstValueText {
    padding-top : 170px;
}

.secondValueText {
    padding-top : 350px;
}

#firstValueMainText, #secondValueMainText, #thirdValueMainText  {
    margin-bottom : 20px;
    font-size : 25px;
    font-weight: bold;
}

#secondValueMainText, #secondValueSubText {
    text-align: right;
} 

