.section1 {
  width: 200%;
  height: 800px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: row;
  background-size: cover;
}

.content1, .content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.content1-img {
  height: 100%;
  width: 100%;
  background: url(./image/bookstoreBlur.jpeg);
  background-size: cover;
  z-index: 2;
}

.content2-img {
  height: 100%;
  width: 100%;
  background: url(./image/bookstoreBlur2.jpeg);
  background-size: cover;
  z-index: 2;
}

.blackBox1 {
  content: "";
  opacity: 0.6;
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 3;
}

.section1 p {
  color: #ffffff; 
}

/* text */

#vision {
  padding-top: 160px;
  padding-bottom: 50px;
  font-size: 40px;
  font-weight: bold;
}

#vision-content {
  font-size: 20px;
  line-height: 50px;
}

#whatIsValuableBook {
  padding-top: 160px;
  padding-bottom: 50px;
  font-size: 35px;
  font-weight: bold;
}

#whatIsValuableBook-content {
  font-size: 20px;
  line-height: 50px;
}

.content1-text, .content2-text {
  position: absolute;
  z-index: 4;
}

/* button */