/* 구성원소개 섹션 */
/* 2020.12.17.오전 9시 */

.section4 {
    display: flex;
    position: relative;
    /* top:-140px; */
    justify-content: center;
    background-color: #243B5B;
    height: 1022px;
    width: auto;
}

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.gallery {
    display: flex;
    grid-template-columns:  repeat(auto-fit, minmax(300px, 1fr));
    min-height: 100vh;
    grid-gap: 2rem;
    margin: 150px 0;
}

.img-container{

    overflow: hidden;

}

.img-container img {
     
    width: 350px;
    height: 600px;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;

}

.boxoverlay{
    opacity: 0;
}

.img-container:hover .boxoverlay {
    opacity: 1;
}

.img-container:hover img{

    opacity: .5;

    transform: scale(1.2);
   
}

.overcontent {
 /* top: 5%; */
}

.sec4box .overcontent {
    position: absolute;
     margin: 0px 180px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 30px;
    color: black;
    white-space: nowrap;
    overflow:hidden;
  
}
.sec4box2 .overcontent {

    position: absolute;
    top: 70%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 30px;
    color: black;
    white-space: nowrap;
    overflow:hidden;
  
}


.sec4box3 .overcontent {
    position: absolute;
    
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    color: black;
    white-space: nowrap;
    overflow:hidden;
  
}

.sec4box4 .overcontent {
    position: absolute;
    top: 70%;
    left: 70%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 30px;
    color: black;
    white-space: nowrap;
    overflow:hidden;
  
}

.sec4box5 .overcontent {
    position: absolute;
    top: 70%;
    left: 90%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 30px;
    color: black;
    white-space: nowrap;
    overflow:hidden;
  
}

.overcontent a{
    font-size: 12px;
    display: block;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.model {

    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
    /* display: none; */
}


.model p {
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
}
.model.open{
    opacity: 1;
    pointer-events: all;
}

.full_img {

    position: absolute;
    height: 90%;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all 0.25s ease;
}

.full_img.open  {
    transform: translate(-50%, -50%) scale(1);
}



/*{
    
    position: absolute;
  margin: 120px;  
  font-size: 45px;

}*/
/*
.sec4testbox{
    position : relative;
    margin : 311px 0;
    border: 2px solid black;
    height: 500px;
    width: 350px;
    background-color: red;
}

.sec4testbox2{
    position : relative;
    margin : 311px 0;
    border: 2px solid black;
    height: 500px;
    width: 350px;
    background-color: black;
}

.sec4testbox3{
    position : relative;
    margin : 311px 0;
    border: 2px solid black;
    height: 500px;
    width: 350px;
    background-color: yellow;

}

.sec4testbox4{
    position : relative;
    margin : 311px 0;
    border: 2px solid black;
    height: 500px;
    width: 350px;
    background-color: blue;

}

.sec4testbox5{
    position : relative;
    margin : 311px 0;
    border: 2px solid black;
    height: 500px;
    width: 350px;
    background-color: green;

}